<!DOCTYPE html>
<html>
    <body style="background-color: black;">
    <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
        new Crate({
            server: '910992761216438292', // Alpha Studioz
            channel: '910992761216438295' // #chat
        })
    </script>
    </body>
</html>